{% extends 'base.html' %}

{% load static %}
{% load bootstrap4 %}

{% block body %}

      
      <div class="main-wrap">
        <div class="cover_1 cover_sm">
          <div class="img_bg" style="background-image: url({% static 'site_static/img/vg10.jpg' %})" data-stellar-background-ratio="0.5">
            <div class="container">
              <div class="row align-items-center justify-content-center">
                <div class="col-md-7" data-aos="fade-up">
                </div>
              </div>
            </div>
          </div>
        </div> <!-- .cover_1 -->
        
        <div class="section" data-aos="fade-up">
          <div class="container">
            <div class="row justify-content-center mb-5">
              <div class="col-md-8  text-center">
                
                
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-md-10 p-5 form-wrap">
                <h2 class="mb-3">Contact Us</h2>
                <p class="lead">Address: 105 NE 24th St, Miami, FL 33137</p>
                <p class="lead">Phone: (305) 814-5365</p>
                <p class="lead">Hours: Everyday 11:30AM-11PM</p>
                <p class="lead"><a href="https://www.opentable.com/r/plant-miami">Reservations: Click here! </a></p>
              </div>
            </div>
          </div>
        </div> <!-- .section -->

       

       

  

      </div> <!-- .main-wrap -->
      

      


    </div>

    
  </body>
</html>

{% endblock body %}